<div class="container-fluid welcome">
  <h1 class="text-center">Welcome to home</h1>
</div>
<div class="container-fluid updated">
  <% if (Time.now - @sensor.updated_at).seconds < 60 %>
      <p class="text-right">Updated <%= (Time.now - @sensor.updated_at).seconds.round %> seconds ago</p>

  <% else %>
      <p class="text-right">Updated <%= time_ago_in_words(@sensor.updated_at) %> ago</p>
  <% end %>

</div>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-4 bg-1">
      <h2>Temperature</h2>
      <h1><strong><%= @sensor.temperature %> &degC</strong></h1>
    </div>
    <div class="col-sm-4 bg-2">
      <h2>Humidity</h2>
      <h1><strong><%= @sensor.humidity %> %</strong></h1>
    </div>
    <div class="col-sm-4 bg-3">
      <h2>Illumination</h2>
      <h1><strong><%= @sensor.illumination %> lk</strong></h1>
    </div>
  </div>
  <div class="container-fluid outside">

  </div>
</div>